<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814440893450-o4s9fgm05404123mdt868r7pulol9l09.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814440893450-o4s9fgm05404123mdt868r7pulol9l09</string>
	<key>API_KEY</key>
	<string>AIzaSyDYt2yyOa9b-2JSpLB5RVFLu8_gEsTpVXc</string>
	<key>GCM_SENDER_ID</key>
	<string>814440893450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tiltClient</string>
	<key>PROJECT_ID</key>
	<string>tilt-d6461</string>
	<key>STORAGE_BUCKET</key>
	<string>tilt-d6461.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814440893450:ios:f4589d4b5519cf48</string>
	<key>DATABASE_URL</key>
	<string>https://tilt-d6461.firebaseio.com</string>
</dict>
</plist>